*{
    color: white;
}
header{
    text-align: center;
}
footer{
    text-align: right;
}
main{
    text-align: center;
}
.result-box-img{
    height: 100px;
}
.answer-input{
    text-align: left;
}
body{
    background-image: url(img/dark-background.jpeg);
}
.btn{
    color:black;
}
#start-button{
    color:black;
}

.correct-box{
    border: 3px solid green;
}

.incorrect-box{
    border: 3px solid red;
}

.answer-box{
    text-align: left;
}

.btn{
    display: flex;
    justify-content: flex-end; 
}
