*{
    background-image: url(img/2560x1440-blue-abstract-noise-free-website-background-image.jpg);
    color: white;
}
header{
    text-align: center;
}
footer{
    text-align: right;
}
main{
    text-align: center;
}
.result-box-img{
    width: 50%;
}